@charset "UTF-8";

* {
  margin: 0;
  padding: 0 ;
  list-style: none;
  text-decoration: none;
}


#wrap {
  width: 90%;
  margin: 0 auto;
}



.upper{
  width: 70px;
  height: 70px;
  position: fixed;
  right: 50px;
  bottom: 50px;
  transition: 4s;
  opacity: 0.9;
}

.upper: hover{
background: #ff7f50;
}





header {
  color: #ffffff;
  padding: 20px 4% 10px;
  display: flex;
  align-items: center
  position: fixed;
  top: 0;
  background:  #b0e0e6;
  font-family: 'DotGothic16', sans-serif;
  font-size: 20px;
}



.rog {
   width: 30%;
   height: 30%;
   

}




svg {

   display:block;
   width:80%;
   margin:0 auto;
   margin-top: 30px;
   overflow:visible;
}


image {

   width:100%;
   transform-origin:center;
   margin-top:px;
}




.left {

     clip-path:url(#leftclip);
}


.right {

     clip-path:url(#rightclip);
}




#ameL {
  animation: ameL 2s linear forwards;
}

 

#hareR {
  animation: hareR 2s linear forwards;
}

 





@keyframes ameL {

       0% {

       transform:rotateY(-90deg) skewY(20deg);
       }


       25% {

       transform:rotateY(-90deg) skewY(20deg);
       }


       50% {

       transform:rotateY(0deg) skewY(0deg);
       }


       100% {

       transform:rotateY(0deg) skewY(0deg);
       }

}


@keyframes hareR {

       0% {

       transform:rotateY(0deg) skewY(0deg);
       }


       25% {

       transform:rotateY(90deg) skewY(-20deg);
       }


       100% {

       transform:rotateY(90deg) skewY(-20deg);
       }

}


rect {

    transform-origin:center;
}


#kageR {

   animation:kageR 2s alternate linear forwards;
}


@keyframes kageR {

0% {

    transform:scaleX(1);
    opacity:1;
}


25% {

    transform:scaleX(0);
    opacity:0;
}


100% {

    transform:scaleX(0);
    opacity:0;
}

}


#kageL {

    animation:kageL 2s alternate linear forwards;
}


@keyframes kageL {

0% {

    transform:scaleX(0);
    opacity:0;
}


25% {

    transform:scaleX(0);
    opacity:0;
}


50% {

    transform:scaleX(1);
    opacity:1;
}


100% {

    transform:scaleX(1);
    opacity:1;
}

}







a {
   text-decoration: none;
}


nav {
   margin: 0 0 0 auto;
}



.main-menu ul li {
  text-align: center;
}


.main-menu ul li a {
  color: #FFF;
  display: block;
  padding: 10px 20px;
}


.main-menu ul li a:hover {
  background: #ff7f50;
  transition-property: background-color; 
  transition-duration: .4s; 
}

.resizeimage img { width: 100%; }

.main-vizyu {
  padding-bottom: 80px;
}


.sub-menu ul{
  display: flex;
}


.sub-menu {
  padding-bottom: 200px;
}

.sub-menu ul li{
   padding: 7px 7px 7px 7px;
}


.sub-menu ul li a:hover {
  background: #ff7f50;
  transition-property: background-color; 
  transition-duration: .4s; 
}


 img {
  width:100%;
  max-width: 100%;
  height: auto;
}


.main-t img{
   width: 150px;
   height: auto;
}

article {
    padding-bottom: 300px;
}


h2 { 
    padding-top: 30px;
    margin-bottom: 40px;
    color: #FF570D;
    text-align: center;
    font-size: 27px;
  }
  
  

  
.main-save{
    text-align: center;
    margin-bottom: 200px;
    }
    
.main-save img{

   width: 90%;
   height: 90%;

}

.main-save ul {
  display: flex;
  justify-content: center;
}




  
.main-save01{
    text-align: center;
    margin-bottom: 200px;
    }
    
.main-save01 img{

   width: 80%;
   height: 80%;

}

.main-save01 ul {
  display: flex;
  justify-content: center;
}




.main-save02{
    text-align: center;
    margin-bottom: 200px;
    }
    
.main-save02 img{

   width: 55%;
   height: 55%;

}

.main-save02 ul {
  display: flex;
  justify-content: center;
}








    
    
.dashed-note {
  background-color: #fff; /* 背景色 */
  background-image: linear-gradient(90deg, transparent 0%, transparent 50%, #fff 50%, #fff 100%), /* 点線1の色 */
                    linear-gradient(180deg, #b0e0e6 1.5px, transparent 1px); /* 点線2の色と太さ */
  background-size: 8px 100%, /* 点線1のサイズ */
                   100% 3.5em; /* 点線2のサイズ */
  line-height: 3.5em; /* 文字の高さ */
  padding-bottom: 1px; /* 最終行の下にも罫線を引く */
}




  
  
.px {
  font-size: 26px;
  margin-top: 100px;
 }
 
 
.py {
  font-size: 26px;
  line-height : 216%;
  margin-top: 112px;
 }
 

.pa {
  font-size: 26px;
  margin-top: 10px;
 }


.pd {
  font-size: 25px;
}

.pq {
   font-family: 'DotGothic16', sans-serif;
}

.po{
   text-align: center;
   font-size: 40px;
   
}



.next {
   width: 15%;
   height: 15%;
   position: fixed;
   right: 50px;
   bottom: 50px;
}



.fadein {
    opacity: 0;
    animation: fadein 6s ease forwards;
}
@keyframes fadein {
    100% {  opacity: 1;}
}



.delay01 {
  animation-delay: 13s;
}

.delay02 {
  animation-delay: 16s;
}

.delay03 {
  animation-delay: 17s;
}






.typewriter{
  width: 0;
  border-right: 0.08em solid black; /*カーソル用の線*/
  overflow: hidden; /*はみ出た要素を非表示に*/
  white-space: nowrap; /*1行に*/
  animation: typing 3s steps(22, end) forwards, cursol 1s step-end infinite;
/*animation: アニメーション名｜時間｜分割数｜ループ */
}
/*** 1文字ずつ出現するアニメーション ***/
@keyframes typing{
  0% { width: 0%; }
  100% { width: 22em; }
}

/*** カーソルが点滅するアニメーション ***/
@keyframes cursol{
  0%{ border-color: transparent; }/*消滅*/
  50%{ border-color: black; } /*出現*/
  100%{ border-color: transparent; }/*消滅*/
}




.typeWriter {
  color: #313131;
  min-height: 500px;
  font-size: 26px;
  line-height : 216%;
  margin-top: 112px;
  margin-right : 20px;
  margin-left : 20px;
  
}

.typeWriter > span {
  border-right: 2px solid;
  animation: caret 1s steps(1) infinite;
  animation-delay: 2s;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}




p{
  font-size:2rem;
  margin: 2rem;
}




footer {
  background: #b0e0e6;
  color: #FFF;
  font-family: 'DotGothic16', sans-serif;
  text-align: center;
  padding: 30px;

}


.fade,
.fade2 {
  width: 200px;
  margin: 20px;
}

.row {
  position: relative;
}

#move {
  position: absolute;
  top: 0;
  left: calc(50% - 100px);
}

.fade2 {
  opacity: .2;
  transition: opacity, 0.5s;
}

.fade2:hover {
  opacity: 3;
}




@media all and (min-width: 600px) {



  header {
  color: #ffffff;
  padding: 20px 4% 10px;
  display: flex;
  align-items: center
  top: 0;
  background:  #b0e0e6;
  font-family: 'DotGothic16', sans-serif;
  font-size: 20px;
}


 
  .main-menu ul { 
    display: flex; 
  } 


  article img { 
    max-width: 600px; 
    display: block; 
    margin: 10px auto; 
  } 
  
  .main-menu ul li { 
    text-align: left; 
  } 

  main { 
    display: flex; 
  } 

  .sub-menu ul li { 
    text-align: left; 
  } 
} 




@media all and (min-width: 1025px) { 
  #wrap {
    width: 84%; 
    max-width: 1280px; 
  } 
  
  
  header {
  color: #ffffff;
  padding: 20px 4% 10px;
  display: flex;
  align-items: center
  top: 0;
  background:  #b0e0e6;
  font-family: 'DotGothic16', sans-serif;
  font-size: 20px;
}




.rog {
   width: 30%;
   height: 30%;

}



footer {
  background: #b0e0e6;
  color: #FFF;
  font-family: 'DotGothic16', sans-serif;
  text-align: center;
  
}


a {
   text-decoration: none;
}


nav {
   margin: 0 0 0 auto;
}



.main-menu ul li {
  text-align: center;
}


.main-menu ul li a {
  color: #FFF;
  display: block;
  padding: 10px 20px;
}


.main-menu ul li a:hover {
  background: #ff7f50;
}

 
 }
  
} 